
.navbar-fnt {
    color: #DCDCDC;
    font-weight: bold;
}


[hidden] {
  display: none !important;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
.file-input-label {
	padding: 0px 10px;
	display: table-cell;
	vertical-align: middle;
  border: 1px solid #ddd;
  border-radius: 4px;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.btn-space {
    margin-right: 2rem;
    margin-left: 2rem;
    padding-right: 5rem;
    padding-left: 5rem;
}

.navbar {
  background-color:#e9ecef;
 }


.icon-left{
    float:left;
    padding: 12px 25px 60px 15px;
    color:#0093dc;
}
.text{
    text-align:left;
    padding:0 0 0 15px;
}
.text h4{
    padding-bottom:5px;
}
